<footer class="site-footer" style">

  <div class="wrapper">

<!--
    <h2 class="footer-heading">{{ site.title }}</h2>
-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img style="max-width: 165px;" src="{{ '/images/bmvi.png' | prepend: site.baseurl }}" alt="Gefördert durch das Bundesministerium für Verkehr und digitale Infrastruktur" />
      </div>

      <div class="footer-col footer-col-3">
          <h3 style="text-align: left;">Projektkonsortium</h3>
          <ul class="social-media-list">
            <li><a href="https://www.dbsystel.de/">DB Systel GmbH</a></li>
            <li><a href="https://www.siemens.de/">Siemens AG</a></li>
            <li><a href="https://new.siemens.com/global/de/produkte/mobilitaet.html">Siemens Mobility GmbH</a></li>
            <li><a href="https://hpi.de/">Hasso-Plattner-Institut</a></li>
            <li><a href="https://www.tu-braunschweig.de/">Technische Universität Braunschweig</a></li>
            <li><a href="https://www.tuv.com/germany/de/">TÜV Rheinland InterTraffic GmbH</a></li>
            <li><a href="https://spherity.com/">Spherity GmbH</a></li>
          </ul>

      </div>

      <div class="footer-col footer-col-2">
        <h3 style="text-align: left;">Wir danken:</h3>
        <ul class="social-media-list">
          <!--
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          -->
          <li><a href="https://www.deutschebahn.com/de/Digitalisierung/technologie/advanced-TrainLab-das-schnellste-Labor-auf-Schienen-3953074">advanced TrainLab</a></li>
          <li><a href="https://www.db-systemtechnik.de/dbst-de">DB Systemtechnik</a></li>
          <li><a href="https://www.optimeas.de/">optiMEAS GmbH</a></li>
          <li><a href="https://idunion.org/">IDunion</a></li>
          <p></p>
          <hr></hr>
          <li>
            <a class="page-link" href="https://osm.hpi.de/legals#impressum"
              >Impressum</a>
          </li>
          <li>
            <a class="page-link"
                href="{{ '/datenschutz' | prepend: site.baseurl }}"
              >Datenschutz</a>
          </li>
          <li><a class="page-link" href="https://gitlab.com/railchain/railchain.berlin">Seite bearbeiten</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
